<div style="height: 87%; display: flex;flex-direction: column;justify-content: center;align-items: center;">

    <div style="align-self: flex-start;margin-left: 10%;padding-bottom: 1%;">

        <h2>My events (3)</h2>

    </div>

    <mat-table style="width: 70%;height: 60%;" [dataSource]="dataSource">

        <ng-container matColumnDef="cover">
            <mat-header-cell *matHeaderCellDef> Cover </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef> Start date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.startDate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef> End date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.endDate}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['cover','name', 'startDate', 'endDate']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['cover','name', 'startDate', 'endDate']"></mat-row>

    </mat-table>

</div>